<h1>Edit player</h1>
<div class="edit-player-container">
    <form class="form-group" [formGroup]="editPlayerForm" (ngSubmit)="editPlayer()">

        <div>
            <label class="form-label" for="name">Name</label>
            <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            placeholder="Name"
            formControlName="name"
            [class.is-invalid]="name.touched && name.hasError('required') || name.hasError('pattern')"
            >
        </div>
        <p *ngIf="name.touched && name.hasError('required')">Name is required!</p>
        <p *ngIf="name.invalid && name.hasError('pattern')">You must enter only letters!</p>


        <div>
            <label class="form-label" for="position">Position</label>
            <input
            class="form-control"
            type="text"
            id="position"
            name="position"
            placeholder="Position"
            formControlName="position"
            [class.is-invalid]="position.touched && position.hasError('required') || position.hasError('pattern')"
            >
        </div>
        <p *ngIf="position.touched && position.hasError('required')">Position is required!</p>
        <p *ngIf="position.invalid && position.hasError('pattern')">You must enter only letters!</p>

        <div>
            <label class="form-label" for="team">Team</label>
            <input
            class="form-control"
            type="text"
            id="team"
            name="team"
            placeholder="Team"
            formControlName="team"
            [class.is-invalid]="team.touched && team.hasError('required') || team.hasError('pattern')"
            >
        </div>
        <p *ngIf="team.touched && team.hasError('required')">Team is required!</p>

        <div>
            <label class="form-label" for="age">Age</label>
            <input
            class="form-control"
            type="text"
            id="age"
            name="age"
            placeholder="Age"
            formControlName="age"
            [class.is-invalid]="age.touched && age.hasError('required') || age.hasError('pattern')"
            >
        </div>
        <p *ngIf="age.touched && age.hasError('required')">Age is required!</p>
        <p *ngIf="age.invalid && age.hasError('pattern')">You must enter only numbers!</p>

        <div>
            <label class="form-label" for="wage">Wage in €</label>
            <input
            class="form-control"
            type="text"
            id="wage"
            name="wage"
            placeholder="Wage"
            formControlName="wage"
            [class.is-invalid]="wage.touched && wage.hasError('required') || wage.hasError('pattern')"
            >
        </div>
        <p *ngIf="wage.touched && wage.hasError('required')">Wage is required</p>
        <p *ngIf="wage.invalid && wage.hasError('pattern')">You must enter only numbers</p>

        <div>
            <label class="form-label" for="endOfContract">End of Contract</label>
            <input
            class="form-control"
            type="text"
            id="endOfContract"
            name="endOfContract"
            placeholder="End of Contract"
            [value]="endOfContract.value | date"
                formControlName="endOfContract"
                [class.is-invalid]="endOfContract.touched && endOfContract.hasError('required') || endOfContract.hasError('pattern')"
                >
        </div>
        <p *ngIf="endOfContract.touched && endOfContract.hasError('required')">End of Contract is required</p>

        <button class="btn btn-primary">Save player</button>
        <button class="btn btn-light" (click)="prevPage()">Back</button>
    </form>
</div>
